/* Navigation bar */

nav {
  display: flex;
  background-color: teal;
  align-items: center;
  padding: 5px 20px;
  border-radius: 20px 20px 20px 20px;
}

.navbar-brand {
  font-weight: bold;
  font-style: normal;
}

.nav-link {
  font-size: 0.95rem;
  font-style: oblique;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}



